@media (width <= 1199px){
    .navbar__list_menu{
        display: none;
        
    }
    .navbar__list_menu-active{
        z-index: 998;
        display: block;
        padding-block-end: 40px;
        inline-size: 100%;
    }
}