.primary-button{
    border-radius: 47.084px;
    border: 1.6px solid #E3DDF2;
    background-color: #EBEEFF;
    color: #1652EE;
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 400;
    line-height: 105.882%; /* 105.882% */
    letter-spacing: -0.896px;
    padding-block: 22px;
    margin-block-start: auto;
    transition:background-color .3s linear, color .3s linear;
    inline-size: 100%;
    cursor: pointer;
}

.primary-button:hover{
    background-color: #1652EE;
    color: #EBEEFF;
}