.news{
    margin-block-end: 156px;
}
.news__card{
    border-radius: 43.2px 43.2px 43.2px 0px;
    cursor: pointer;
}
.news__wrapper{
    background-image: url('../../svg/news-card-border.svg');
    background-size:cover;
    background-repeat: no-repeat;
    padding-inline: 38.4px 32px;
    padding-block: 46.4px 64px;
    position: relative;
    min-block-size: 342px;
    margin-block-start: -1px;
}
.news__card-img{
    inline-size: 100%;
    object-fit: cover;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    vertical-align: bottom;
    max-block-size: 330px;
    aspect-ratio: 1;
}


.news__card-title{
    color: #070037;
    font-family: 'Unbounded';
    font-size: clamp(1.5rem, 1.355rem + 0.725vw, 2.2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 113.636%; /* 113.636% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
    margin-block-end: 28.8px;
}

.news__card-description{
    color: #83809B;
    font-family: 'Gotham Pro', sans-serif;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 500;
    line-height: 147.059%; /* 147.059% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
    text-overflow: ellipsis;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}


.news__card-icon{
    background-color: #EBEEFF;
    border-radius: 60px;
    max-inline-size: 80px;
    max-block-size: 80px;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    transition:  background-color .3s , rotate .2s linear;

}

.news__card path{
    stroke: #1652EE;
}
.news__card:hover .news__card-icon path{
    stroke: #FFF;    

}
.news__card:hover .news__card-icon{
    rotate: -45deg;
    background-color: #1652EE;
}

.news__button{
    color: #FFF;
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 400;
    line-height:105.882%; /* 105.882% */
    letter-spacing: -0.896px;
    padding: 22.4px 20.6px;
    padding-inline: 86.4px 24.88px;
    background-color: #1652EE;
    border-radius: 47.084px;
    display: flex;
    max-inline-size: 476px;
    gap: 35px;
}

.news__slider{
    margin-block-end: 124px;
}

.news__button img{
    padding-block-start: 5px;
    inline-size: 12px;
}



