.navbar__list>ul {
    align-items: flex-start;
    background-color: #ebeeff;
    border: 1.6px solid #e3ddf2;
    display: flex;
    flex-wrap: wrap;
    padding-block: 19px;
    padding-inline: 7px;
    gap: 5px;
}

.navbar__list>ul>li{
    display: flex;
    flex: 1 0 33%;
}

.navbar__list{
    display: none;
    gap: clamp(8rem, 0.453rem + 10.063vw, 12rem);
    align-items: center;
}


.navbar__list_logos{
    background-color: transparent;
    border: none;
    gap: 2px;
    flex: none;
    display: flex;
}


@media (width >= 1200px){
    .navbar__list{
        display: flex;
    }
    .navbar__list > ul{
        align-items: center;
        background-color: #ebeeff;
        border: 1.6px solid #e3ddf2;
        border-radius: 64px;
        display: flex;
        gap: 0;
        padding-block: clamp(0.25rem, -1.519rem + 2.358vw, 1.188rem);
        padding-inline: 7px;
        flex-wrap: nowrap;

    }
    .navbar__list:nth-child(3) {
        margin-block-start: 10px;
    }
    .burger-menu{
        display: none;
    }
    .navbar__list>ul>li{
        flex-grow: 0;
        flex: 0  1 0;
    }
    
}