.navbar__link{   
    text-wrap: nowrap;
    border-radius: 10px;
    color: #1652ee;
    font-family: 'Gotham Pro';
    font-size: clamp(1rem, .922rem + .391vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 18.8px;
    padding-block: 12.8px;
    padding-inline: 30px;
    text-align: center;
    text-transform: lowercase;
    transition: color, background-color .3s linear;
    inline-size: 100%;
    flex-grow: 1;
    background-color: #FFF;

}

@media (width >= 1200px){
.navbar__link{
    letter-spacing: -0.896px;
    text-transform: lowercase;
    border-radius: 64px;
    padding-block: 12.8px;
    padding-inline: 10px;
    flex: 0 0 0;
    background-color: transparent;
}

.navbar__link:hover{
    color: #FFF;
    background-color: #1652EE;
}

}