


.hero__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-block-start: 230px;
    margin-inline-start: 20px;
    z-index: 1;
}

@media ( width >= 768px){
    .hero__title-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-block-start: clamp(16.25rem, 11.306rem + 10.3vw, 23.125rem);
        margin-inline-start: clamp(0.625rem, -1.622rem + 4.682vw, 3.75rem);
        position: relative;
        z-index: 1;
    }
}