.tabs-wrapper{
    padding-block: 53px 28px ;
    padding-inline: clamp(0rem, -22.273rem + 24.747vw, 6.125rem);
    background-color: #FFF;
    border-radius: 40px;
    display: flex;
    gap: 67px;
    margin-block-end: -26px;
    transform: translateY(-1.3em);
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    cursor: grab;
}
.tabs-wrapper.grabbing {
    cursor: grabbing; /* Изменение курсора при захвате */
}
.tabs-button{
    color: #1652EE;
    text-align: center;
    font-family: "Gotham Pro";
    font-size: clamp(1.25rem, 1.129rem + 0.324vw, 1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 27.2px; /* 113.333% */
    letter-spacing: -0.8px;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    cursor: pointer;
    inline-size: 236px;
    padding-block-start: 25px;
}

.tabs-button_active{
    position: relative;
}

.tabs-button_active::before{
    content: '';
    clip-path: polygon(81.37% 21.193%, 81.37% 21.193%, 81.262% 17.807%, 80.949% 14.595%, 80.447% 11.601%, 79.774% 8.866%, 78.947% 6.433%, 77.983% 4.347%, 76.899% 2.65%, 75.712% 1.384%, 74.439% .593%, 73.097% .32%, 26.889% .32%, 26.889% .32%, 25.547% .593%, 24.274% 1.384%, 23.087% 2.65%, 22.003% 4.347%, 21.039% 6.433%, 20.212% 8.866%, 19.539% 11.601%, 19.037% 14.595%, 18.724% 17.807%, 18.615% 21.193%, 18.615% 21.193%, 18.507% 24.579%, 18.194% 27.791%, 17.692% 30.785%, 17.019% 33.52%, 16.192% 35.953%, 15.228% 38.039%, 14.144% 39.736%, 12.957% 41.002%, 11.684% 41.793%, 10.342% 42.066%, 8.484% 42.066%, 8.484% 42.066%, 7.115% 42.345%, 5.816% 43.152%, 4.605% 44.443%, 3.498% 46.176%, 2.515% 48.305%, 1.671% 50.786%, .984% 53.577%, .472% 56.633%, .153% 59.911%, .042% 63.365%, .042% 78.701%, .042% 78.701%, .153% 82.156%, .472% 85.433%, .984% 88.489%, 1.671% 91.28%, 2.515% 93.762%, 3.498% 95.89%, 4.605% 97.623%, 5.816% 98.914%, 7.115% 99.721%, 8.484% 100%, 91.558% 100%, 91.558% 100%, 92.927% 99.721%, 94.226% 98.914%, 95.437% 97.623%, 96.544% 95.89%, 97.527% 93.762%, 98.371% 91.28%, 99.058% 88.489%, 99.57% 85.433%, 99.89% 82.156%, 100% 78.701%, 100% 63.365%, 100% 63.365%, 99.89% 59.911%, 99.57% 56.633%, 99.058% 53.577%, 98.371% 50.786%, 97.527% 48.305%, 96.544% 46.176%, 95.437% 44.443%, 94.226% 43.152%, 92.927% 42.345%, 91.558% 42.066%, 89.644% 42.066%, 89.644% 42.066%, 88.302% 41.793%, 87.029% 41.002%, 85.842% 39.736%, 84.758% 38.039%, 83.794% 35.953%, 82.967% 33.52%, 82.294% 30.785%, 81.792% 27.791%, 81.479% 24.579%, 81.37% 21.193%);
    position: absolute;
    inset: auto;
    width: 437.49px;
    height: 182.384px;
    background-color: #e7ecff;
    z-index: -1;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-49.5%);
}


.tab-content{
    margin-block-end: 140px;
}