.footer{
    margin-block-end: 33.6px;
}
.footer__wrapper{
    background-color: #FFF;
    border-radius: 40px;
    padding-block: 94px 150px;
}

.footer__social-list{
    margin-block-end: 65.6px;
    display: flex;
    gap: 28.8px;
    align-items: center;
    justify-content: center;
}

.footer__nav-list{
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__nav-link{
    color: #1652EE;
    text-align: center;
    font-family: "Gotham Pro";
    font-size: 22.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 128.571% */
    letter-spacing: -0.896px;
    text-transform: lowercase;
    padding:12.8px ;
}

.footer-element{
    position: absolute;
    bottom: -26%;
    left: 50%;
    transform: translateX(-50%);

}