/* Общие стили */
@import './vendor/normalize.css';
@import './vendor/global.css';
@import './vendor/fonts/fonts.css';
@import './blocks/container/container.css';
@import './blocks/primary-button/primary-button.css';

/* Стили для Header */
@import './blocks/header/header.css';

@import './blocks/hero/hero.css';

@import './blocks/burger/burger.css';

@import './blocks/navbar/navbar.css';
@import './blocks/page-articles.css';


@import './blocks/footer/footer.css';
@import './blocks/section-title&subtitle/section-title&subtitle.css';
@import './blocks/root/root.css';

@import './blocks/target/target.css';

@import './blocks/mission/mission.css';
@import './blocks/team/team.css';
@import './blocks/partner/partner.css';
@import './blocks/regulation/regulation.css';

@import './blocks/news/news.css';
@import './blocks/mobile.css';
@import './blocks/popup/popup.css';
@import './blocks/popup/_opened/popup_opened.css';
@import './blocks/popup/__close-button/popup__close-button.css';

@import './blocks/tabs/tabs.css';







.container__hero{
    position: relative;
}





.project__card{
    padding-block: 46.4px 64px;
    padding-inline: 38.4px 32px;
    border-radius: 43.2px;
    background-color: #FFF;
    block-size: 100%;
}

.project__icon{
    max-inline-size: 81.6px;
    object-fit: contain;
    inline-size: 100%;
    margin-block-end: 28.8px;
}

.project__description{
    color: #83809B;
    font-family: 'Gotham Pro', sans-serif;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.4;
}

.project__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    gap: 35.2px;
}

@media (width >= 525px){
    .project__list{
        grid-template-columns: repeat(auto-fit,minmax(26em,1fr));

    }

    .mission__list{
        grid-template-columns: repeat(auto-fit,minmax(23em,1fr));

    }
}


.mission__card{
    border-radius: 31.389px;
    padding-block:108.12px 91.2px;
    padding-inline: 38.4px 26.68px;
    block-size: 100%;
    clip-path: polygon( 100% 91.786%,100% 91.786%,99.862% 93.119%,99.464% 94.382%,98.826% 95.561%,97.97% 96.637%,96.919% 97.594%,95.693% 98.415%,94.314% 99.083%,92.805% 99.581%,91.186% 99.892%,89.48% 100%,68.063% 100%,10.576% 100%,10.576% 100%,8.869% 99.892%,7.25% 99.581%,5.741% 99.083%,4.362% 98.415%,3.137% 97.594%,2.085% 96.637%,1.229% 95.561%,0.592% 94.382%,0.193% 93.119%,0.055% 91.786%,0.055% 8.326%,0.055% 8.326%,0.193% 6.994%,0.592% 5.73%,1.229% 4.551%,2.085% 3.475%,3.137% 2.518%,4.362% 1.697%,5.741% 1.029%,7.25% 0.531%,8.869% 0.22%,10.576% 0.112%,66.936% 0.112%,66.936% 0.112%,68.642% 0.22%,70.261% 0.531%,71.77% 1.029%,73.149% 1.697%,74.375% 2.518%,75.426% 3.475%,76.282% 4.551%,76.92% 5.73%,77.318% 6.994%,77.456% 8.326%,77.456% 9.499%,77.456% 9.499%,77.594% 10.832%,77.992% 12.096%,78.63% 13.274%,79.486% 14.35%,80.537% 15.307%,81.763% 16.128%,83.142% 16.796%,84.651% 17.295%,86.27% 17.606%,87.977% 17.713%,89.48% 17.713%,89.48% 17.713%,91.186% 17.821%,92.805% 18.132%,94.314% 18.63%,95.693% 19.298%,96.919% 20.119%,97.97% 21.076%,98.826% 22.152%,99.464% 23.331%,99.862% 24.595%,100% 25.927%,100% 91.786% );
    background-image: linear-gradient(0deg, #C1E2FF 0%, #FFF 42.71%);

}

.mission__list  li:nth-child(1) > .mission__card:first-child{
    clip-path: none;
}

.mission__card-name{
    color: #070037;
    font-family: 'Unbounded';
    font-size: clamp(1.5rem, 1.355rem + 0.725vw, 2.2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 245.455%; /* 245.455% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
    text-transform: capitalize;
}

.mission__card-description{
    color: #83809B;
    font-family: "'Gotham Pro', sans-serif";
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 400;
    line-height: 147.059%; /* 147.059% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
}

.mission__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 18.84px;
}

.mission__list > li{
    flex: 1 0 24%;
}
.mission__list > li:nth-child(3){
    transform: translateY(clamp(0rem, 1.313rem + -2.735vw, -1.875rem));
}


.team__card-name{
    color: #070037;
    font-family: 'Unbounded';
    font-size: clamp(1.5rem, 1.355rem + 0.725vw, 2.2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 113.636%; /* 113.636% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
    margin-block-end: 19.2px;
    max-inline-size: 460px;
}

.team__card-description{
    color: #83809B;
    font-family: 'Gotham Pro',sans-serif;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 400;
    line-height: 147.059%; /* 147.059% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
    max-inline-size: 460px;
}

.team__card{
    max-inline-size: 530px;
    margin-block-end: 100px;
}

.team__card-img{
    inline-size: 100%;
    object-fit: cover;
    margin-block-end: clamp(1.5rem, 1.355rem + 0.725vw, 2.2rem);
    border-radius: 42.3px;
    aspect-ratio: 1;
}



.regulation__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(17.5rem, 6.713rem + 22.472vw, 32.5rem), 1fr));
    gap: clamp(4.063rem, 4.458rem + -1.979vw, 2.188rem);
    row-gap: 35px;
}

.regulation__list li{
    flex: 1 0 25%;
}

.regulation__card{
    display: flex;
    padding-block: 46.4px 64px;
    padding-inline: clamp(0.75rem, 0.491rem + 1.294vw, 2rem) clamp(1.125rem, 0.866rem + 1.294vw, 2.375rem);
    flex-direction: column;
    align-items: flex-start;
    gap: 28.8px;
    flex-shrink: 0;
    border-radius: 43.2px;
    background: #FFF;    
    block-size: 100%; 
}

.regulation__card-img{
    max-inline-size:clamp(3.375rem, 3.018rem + 1.786vw, 5.1rem);
    object-fit: contain;
    inline-size: 100%;
}

.regulation__card-description{
    color: #83809B;
    font-family:'Gotham Pro', sans-serif;;
    font-size: clamp(1.137rem, 1.024rem + 0.57vw, 1.688rem);
    font-style: normal;
    font-weight: 500;
    line-height: 147.059%; /* 147.059% */
    letter-spacing: clamp(0rem, 0.021rem + -0.104vw, -0.1rem);
}





.swiper-news-slide{
    max-inline-size: 553.58px;
}

.page-article-bottom-text_hero{
    color: #1652EE;
    left: 6.6%;
}


.popup__iframe{
    max-inline-size: 1200px;
    inline-size: 100%;
    min-block-size: 600px;
}


